<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <header>Add Recipe</header>
    <form method="POST" th:action="@{/add-recipe}" th:object="${recipeAddForm}">
        <div id="items">
            <div th:each="ingredientInfo, stat : *{ingredients}" class="item">
                <input type="hidden" name="productSeq" th:value="${recipeAddForm.productSeq}">
                <label for="ingredientName">재료명</label>
                <select id="ingredientName" class="ingredient-select" th:field="*{ingredients[__${stat.index}__].ingredientName}">
                    <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}"
                            th:data-unit="${ingredient.unit.getDisplayName()}"
                            th:text="${ingredient.name}"></option>
                </select>

                <label for="amount"></label>
                <input type="number" th:field="*{ingredients[__${stat.index}__].amount}" placeholder="양을 입력해주세요">
                <span class="unit"></span>

                <button type="button" class="deleteItem">재료 삭제</button>
            </div>
        </div>

        <button type="button" id="addItem">재료 추가</button>
        <input type="submit" class="button" value="레시피 등록">
        <input type="button" class="button2" value="취소" onclick="window.history.back()">
    </form>
</div>
<script src="/js/manageList.js"></script>

</body>
</html>