<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>레시피 변경</title>
</head>
<body>
<div class="container">
  <header>Edit Recipe</header>
  <form method="POST" th:action="@{/edit-recipe/{recipeSeq}(recipeSeq=*{seq})}" th:object="${recipe}">
    <input type="hidden" name="productSeq" th:value="*{product.seq}">

    <label>재료명</label>
    <input type="text" th:field="*{ingredient.name}" readonly>

    <label for="amount">재고량: </label>
    <input type="text" name="amount" th:field="*{amount}" />

    <label for="unit">단위:</label>
    <input type="text" readonly="readonly" name="unit" th:value="${ingredient.unit.getDisplayName()}"/>

    <input type="submit" class="button" value="변경">
    <input type="button" class="button2" value="취소" onclick="window.history.back()">
  </form>
</div>
</body>
</html>