<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 정보 수정</title>
</head>
<body>
<div class="container">
    <header>Edit Product</header>
    <form method="POST" th:action="@{/edit-product/{seq}(seq=${product.seq})}" th:object="${product}">
        <label for="name">상품명</label>
        <input type="text" name="name" th:field="${product.name}">
        <label for="price">가격</label>
        <input type="text" name="price" th:field="${product.price}">
        <label for="category">카테고리</label>
        <select name="category" style="width: 20%">
            <option th:each="categoryOpt : ${T(com.dnlab.coffeeshop.product.common.Category).values()}"
                    th:value="${categoryOpt}"
                    th:text="${categoryOpt.getDisplayName()}"></option>
        </select>

        <label for="mainState">메인메뉴 여부</label>
        <select id="mainState" name="mainState">
            <option th:each="bool : ${bools}" th:value="${bool}" th:text="${bool ? 'True' : 'False'}"></option>
        </select>

        <label for="specialState">특별메뉴 여부</label>
        <select id="specialState" name="specialState">
            <option th:each="bool : ${bools}" th:value="${bool}" th:text="${bool ? 'True' : 'False'}"></option>
        </select>


        <input type="submit" class="button" value="상품 변경">
        <input type="button" class="button2" value="취소" onclick="window.history.back()">
    </form>
</div>
</body>
</html>