<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>레시피 목록</title>
    <th:block th:insert="~{head::head-fragment}"/>


    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
        }

        table, tr, th, td {
            border: solid black;
        }
    </style>
</head>

<body>
<div th:insert="~{index::header-fragment}"></div>
<h1 style="text-align: center">레시피 목록</h1>
<table class="">
    <thead>
    <tr>
        <th>재료명</th>
        <th>들어가는 양</th>
        <th>단위</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getIngredient().name}"></td>
        <td th:text="${recipe.getAmount()}"></td>
        <td th:text="${recipe.getUnit().getDisplayName()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>