<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Supply Form</title>
</head>
<body>
<form th:action="@{/add-supply}" method="post" th:object="${supplyAddForm}">
    <label for="supplierName">공급업체명:</label>
    <select id="supplierName" th:field="*{supplierName}">
        <option th:each="supplier : ${suppliers}" th:value="${supplier.name}" th:text="${supplier.name}"></option>
    </select>

    <div id="items">
        <div th:each="content, stat : *{supplyContentList}" class="item">
            <label th:for="${'supplyContentList[' + stat.index + '].ingredientName'}">재료명:</label>
            <select th:field="*{supplyContentList[__${stat.index}__].ingredientName}">
                <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}"
                        th:text="${ingredient.name}"></option>
            </select>

            <label th:for="${'supplyContentList[' + stat.index + '].amount'}">공급량:</label>
            <input type="number" th:field="*{supplyContentList[__${stat.index}__].amount}">

            <label th:for="${'supplyContentList[' + stat.index + '].unit'}">공급단위:</label>
            <select th:field="*{supplyContentList[__${stat.index}__].unit}">
                <option th:each="unit : ${T(com.dnlab.coffeeshop.product.common.Unit).values()}" th:value="${unit}"
                        th:text="${unit.getDisplayName()}"></option>
            </select>

            <label th:for="${'supplyContentList[' + stat.index + '].price'}">가격:</label>
            <input type="number" th:field="*{supplyContentList[__${stat.index}__].price}">

            <button type="button" class="deleteItem">재료 삭제</button>
        </div>
    </div>
    <button type="button" id="addItem">재료 추가</button>

    <label for="dueDate">공급 예정일:</label>
    <input type="datetime-local" id="dueDate" th:field="*{dueDate}">


    <input type="submit" value="Submit">
</form>

<script src="/js/manageList.js">
</script>
</body>
</html>
