<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Here</title>
</head>
<body>
<div class="container">
    <div class="registration form">
        <header>Signup</header>
        <form method="POST" th:action="@{/register}" id="registerForm">
            <label for="username"></label>
            <input type="text" name="username" placeholder="아이디를 입력하세요.">

            <label for="password"></label>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요.">

            <label for="name"></label>
            <input type="text" name="name" placeholder="이름을 입력해주세요.">

            <label for="nickname"></label>
            <input type="text" name="nickname" placeholder="닉네임을 입력해주세요.">

            <label for="address"></label>
            <input type="text" name="address" placeholder="주소를 입력해주세요."/>

            <label for="phoneNumber"></label>
            <input type="text" name="phoneNumber" placeholder="휴대폰 번호를 입력해주세요."/>


            <input type="submit" class="button" value="회원가입">
            <input type="button" class="button2" value="취소" onclick="window.history.back()">
        </form>
    </div>
</div>
</body>
</html>