<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Coffee Shop</title>
    <meta charset="UTF-8">
    <th:block th:insert="~{head::head-fragment}"/>

    <style>
        .links {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-bottom: 10px;
        }

        .links a span {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f2f2f2;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div th:fragment="header-fragment"></div>

<!-- Start Header -->
<div th:fragment="header-fragment">
    <nav style="display: flex;justify-content: space-between;align-items: center;">
        <div>
            <a th:href="@{/}" style=" font-size: 2em; padding-right: 10px;">
                DN Cafe
            </a>
        </div>

        <div>
            <ul>
                <div class="search-container" style="display: flex;justify-content: center;align-items: center;">
                    <form th:action="@{/search-product}" method="get" style="display: flex">
                        <input type="text" id="inputMobileSearch" name="keyword"
                               placeholder="Search ...">
                        <select name="category">
                            <option th:each="categoryOpt : ${T(com.dnlab.coffeeshop.product.common.Category).values()}"
                                    th:value="${categoryOpt}"
                                    th:text="${categoryOpt.getDisplayName()}"></option>
                        </select>
                        <button type="submit" style="height: fit-content"><i>검색</i>
                        </button>
                    </form>
                </div>
            </ul>
        </div>

        <div class="user-information-container" style="display: flex;align-items: center;padding-bottom: 10px;">

            <a sec:authorize="isAuthenticated()">
                <a th:href="@{/shopping-cart}">
                    <i></i>
                </a>
                <a th:href="@{/order-history-page}">
                    <i></i>
                </a>

                <p sec:authorize="isAuthenticated()">
                    <span th:text="'반갑습니다 '+${username}+'님'"></span></p>

                <div class="links">
                    <a th:href="@{/shopping-cart}">
                        <span>장바구니</span>
                    </a>
                    <a th:href="@{/order-history-page}">
                        <span>주문내역</span>
                    </a>

                    <a th:href="@{/my-page}">
                        <span>마이페이지</span>
                    </a>

                    <a th:href="@{/logout}">
                        <span>로그아웃</span>
                    </a>
                </div>

            </a>

            <div class="links">
                <a sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">
                        <span>로그인</span>
                    </a>

                    <a th:href="@{/register}">
                        <span>회원가입</span>
                    </a>
                </a>
            </div>
        </div>
    </nav>
</div> <!-- End Header-->

<div class="links">
    <div>
        <a th:href="@{/add-product}">
            <span>상품 등록</span>
        </a>
    </div>
    <div>
        <a th:href="@{/add-supplier}">
            <span>공급업체 등록</span>
        </a>
    </div>
    <div>
        <a th:href="@{/add-ingredient}">
            <span>재료 등록</span>
        </a>
    </div>
</div>

<div class="links">
    <a th:href="@{/product-list}">
        <span>상품 목록</span>
    </a>
    <a th:href="@{/supplier-list}">
        <span>공급업체 목록</span>
    </a>
    <a th:href="@{/ingredient-list}">
        <span>재료 목록</span>
    </a>
</div>

<div class="links">

    <a th:href="@{/add-supply}">
        <span>재료 공급</span>
    </a>
    <a th:href="@{/history-supply}">
        <span>공급 내역</span>
    </a>
</div>
<h1 style="text-align: center">상품 목록</h1>

<div class="product-items" style="text-align: center">
    <div th:each="product : ${products}">
        <a th:href="@{/single-product/{seq}(seq =${product.getSeq()})}">
            <div class="product-summary">
                <strong th:text="${product.getName()}"></strong>
                <span th:text="${product.getPrice()} + '원'"></span>
            </div>
        </a>
    </div>
</div>
</body>
</html>